    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Arloesol</h2>
              <br/>
                <p>Arloesol provides IT solutions that simply work</p>
                <br/>
                <p>A lot of attention and care is given to make sure that installation, 
                   maintenance, configuration and use of our solutions is as simple as possible
                </p>
                <br/>
                <p>Our solutions are also available as Software as a Service which frees you 
                   completely from the installation and maintenance of the solution and 
                   lets you concentrate on providing value to your business and customers
                </p>
                <br/>
                <p>We also provide full stack development services and consulting for fintechs</p>
              <br/>
              </div>
        </div>
    </section>
